{% extends 'base.html' %}

{% block content %}
{{ super() }}

<div class="text-center">
    <p>Вы находитесь на сайте "Outside" - удобном и минималистичном сервисе для просмотра
    данных о погоде в любом городе, который Вас интересует. А если Вы зарегистрируетесь, то у Вас
    будет возможность создать для себя рассылку с информаций о погоде в нужном городе на выбранный
    Вами период времени, либо без ограничений по времени (пока Сами не отключите). И нет, спам или
    рекламу мы не рассылаем :)</p>
</div>

{% endblock %}