{% extends 'base.html' %}

{% block content %}
{{ super() }}

<div class="wrapper">
    <div class="up-forecast"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2 mid-forecast" id="hourlyDataContainer">
                {% for hourly in date_today["hours_data"] %}
                    <p>{{hourly}}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="bottom-forecast">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>{{ loc.temperature }}°</h1>
                    <p>Ощущается как: {{ loc.feels_like }}°</p>
                    <img src="{{ url_for('static', filename=loc.img) }}">
                    <span>{{ description }}</span>
                    <p>Влажность: {{ loc.humidity }}</p>
                    <p>Ветер: {{ wind }}, {{ '%0.1f' % (loc.wind_speed / 3.6)|float }} м/c</p>
                </div>

                {% for day in daily_data %}
                    <div class="col text-center forecast_col" id="{{loop.index}}" data-day="{{ day }}">
                        <p>{{ day }}</p>
                        <img src="{{ url_for('static', filename=daily_data[day]['img']) }}">
                        <p>{{ daily_data[day]["description"] }}</p>
                        <p><h3>{{ daily_data[day]["max_temp"] }}°/{{ daily_data[day]["min_temp"] }}°</h3></p>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

<script>
    const daily_data = {{ daily_data|tojson }}
    console.log(daily_data);
</script>

{% endblock %}