{% extends 'base.html' %}

{% block content %}

{{ super() }}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            {% for cat, msg in get_flashed_messages(True) %}
                <div class="flash {{cat}}">{{msg}}</div>
            {% endfor %}

            <form action="/registry/" method="post" class="form-contact">
                {{ form.hidden_tag() }}

                {% for field in form if field.name not in ['csrf_token', 'submit'] -%}
                    <div class="mb-3">
                        {{ field.label(class_='form-label') }}
                        {% if field.errors %}
                            {{ field(class_='form-control is-invalid') }}
                            {% for e in field.errors %}
                                <div class="text-danger">{{ e }}</div>
                            {% endfor %}
                        {% else %}
                            {{ field(class_='form-control') }}
                        {% endif %}
                    </div>
                {% endfor %}

                {{ form.submit(class_='btn btn-info ') }}
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>

{% endblock %}